// Resume specific styles

#resume {
  display: flex;
  flex-wrap: wrap;
}

.resume__editor, .resume__content {
  flex-basis: 0;
  flex-grow: 1;
  height: 100vh;
  align-items: center;
}


//
// Resume Editor
//

.resume__editor {
  position: relative;
  min-width: 0px;
  width: 0px;
  max-width: 0px;
  background-color: $ice-cube;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  overflow: hidden;

  transition: all 650ms cubic-bezier(0.240, 0.260, 0.245, 1.170);
}


.editor__header, .editor__footer {
  min-width: 400px;
}


// Editor Header

.editor__header {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 32px;
  z-index: 5;

  .editor__phase-heading {
    color: $jazzy;
  }

  hr {
    width: 64px;
    border-color: $jean-jacket;
  }

  .editor__phase__dots {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;

    li {
      display: inline-block;
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-align: center;
      margin: 0 8px;
      font-family: $font-family-sans-serif;
      font-size: $font-size-sm;
      line-height: 32px;
      font-weight: 700;
      color: $jazzy;
      vertical-align: middle;
      cursor: pointer;
      transition: all 150ms;

      &:after {
        content: '';
        position: absolute;
        left: 4px;
        top: 4px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        z-index: -1;
        transition: all 150ms ease-out;
      }

      &:hover {
        &:after {
          background-color: fade-out($jean-jacket, .75);
        }
      }

      &.-active {
        color: $white;

        &:after {
          top: 0;
          left: 0;
          width: 32px;
          height: 32px;
          background-color: $gummy;
        }
      }

      &.-disabled {
        color: $jean-jacket;
        cursor: default;

        &:after {
          content: none;
        }
      }
    }
  }

  .editor__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    border-radius: 0px;

    .progress-bar {
      border-radius: 0px 3px 3px 0px;
      height: 6px;
      transition: width 850ms;
      width: 100%;
    }
  }
}

.editor__footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 16px;
  text-align: center;
  z-index: 5;
}



// resume Content section

.resume__content {
  max-width: 100%;
  overflow-y: scroll;
  position: relative;
}

// edit mode

#resume.edit-mode {
  .resume__editor {
    min-width: 480px;
    max-width: 620px;

    .resume__editor__content {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.edit-btn {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 15px;
}
