// Resume specific styles

#resume {
  display: flex;
  flex-wrap: wrap;
}

.resume__editor, .resume__content {
  flex-basis: 0;
  flex-grow: 1;
  height: 100vh;
  align-items: center;
}


//
// Resume Editor
//

.resume__editor {
  position: relative;
  min-width: 0px;
  width: 0px;
  max-width: 0px;
  background-color: $ice-cube;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  overflow: hidden;

  transition: all 650ms cubic-bezier(0.240, 0.260, 0.245, 1.170);
}


.editor__header, .editor__footer {
  min-width: 400px;
}


// Editor Header

.editor__header {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 32px;
  z-index: 5;

  .editor__phase-heading {
    color: $jazzy;
  }

  hr {
    width: 64px;
    border-color: $jean-jacket;
  }

  .editor__phase__dots {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;

    li {
      display: inline-block;
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-align: center;
      margin: 0 8px;
      font-family: $font-family-sans-serif;
      font-size: $font-size-sm;
      line-height: 32px;
      font-weight: 700;
      color: $jazzy;
      vertical-align: middle;
      cursor: pointer;
      transition: all 150ms;

      &:after {
        content: '';
        position: absolute;
        left: 4px;
        top: 4px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        z-index: -1;
        transition: all 150ms ease-out;
      }

      &:hover {
        &:after {
          background-color: fade-out($jean-jacket, .75);
        }
      }

      &.-active {
        color: $white;

        &:after {
          top: 0;
          left: 0;
          width: 32px;
          height: 32px;
          background-color: $gummy;
        }
      }

      &.-disabled {
        color: $jean-jacket;
        cursor: default;

        &:after {
          content: none;
        }
      }
    }
  }

  .editor__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    border-radius: 0px;

    .progress-bar {
      border-radius: 0px 3px 3px 0px;
      height: 6px;
      transition: width 850ms;
      width: 100%;
    }
  }
}

.editor__footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 16px;
  text-align: center;
  z-index: 5;
}



// resume Content section

.resume__content {
  max-width: 100%;
  overflow-y: scroll;
  position: relative;
}

// edit mode

#resume.edit-mode {
  .resume__editor {
    min-width: 480px;
    max-width: 620px;

    transition-delay: 600ms;

    .resume__editor__content {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.edit-btn {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 15px;
  z-index: 99;
}

.g__row {
  box-sizing: border-box;
}

.container {
}

// *************************
// CONTENT
// *************************

.resume__content {

  .content__phase {
    width: 100%;
    min-width: 600px;
  }
}

.edit-mode {
  .content__phase-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding-top: 4em;
    padding-bottom: 4em;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .content__phase {
    max-height: 100vh;
    overflow: visible;
    transition: all 700ms;
    padding-top: 4em;

    > *:last-child {
      margin-bottom: 4em;
    }
  }

  .phase__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em 0;
  }
}

.content__phase-wrap {
  &.slide-enter-active,
  &.slide-leave-active {
    transition: all 700ms;
  }
  overflow-y: scroll;
  overflow-x: hidden;

  &.slide-enter {
    .content__phase {
      opacity: 0;
      transform: translateY(50%);
    }
  }

  &.slide-leave-to {
    .content__phase {
      opacity: 0;
      transform: translateY(-50%);
    }
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: all 600ms;
}

.slide-enter {
  opacity: 0;
  transform: translateY(50px);
}

.slide-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}

//
//  Resume introStyle
//

#resume__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;

  &.intro-enter-active {
    transition: all 800ms ease-out;
  }

  &.intro-leave-active {
    transition: all 600ms cubic-bezier(0.550, 0.055, 0.675, 0.190);

    .g__row > div {
      transition: all 600ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
  }

  &.intro-enter {
    opacity: 0;
    transform: translateY(20px);
  }

  &.intro-leave-to {
    opacity: 0;
    transform: translateY(100px);
    // .g__row > div:nth-of-type(1) {
    //   transform: translateX(-100%);
    // }
    // .g__row > div:nth-of-type(2) {
    //   transform: translateX(100%);
    // }
  }
}

#resume__layout {
  &.intro-enter-active, &.intro-leave-active {
    transition: all 800ms;
  }

  &.intro-enter, &.intro-leave-to {
    opacity: 0;
  }
}


.i--arrow {
  display: inline-block;
  width: 16px;
  height: 10px;
  margin: 0 9px;

  background : {
    position: center right;
    repeat: no-repeat;
    size: auto 8px;
    image : url('../img/UI/arrow-right-light.svg');
  }
}
