// Resume specific styles

body.edit {
  overflow: hidden;
}

#resume {

  width: 100%;

  > .close {
    position: fixed;
    padding: 16px;
    background-color: $jazzy;
    top: 0;
    right: 0;
    z-index: 99;
  }
}

//
// Resume Editor
//

.resume__editor-mode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  // height: 100vh;
  bottom: 0px;
  display: flex;
  flex-wrap: nowrap;
  z-index: $zindex-fixed;
  transition: transform 450ms;

  // transitions
  &.edit-mode-enter-active,
  &.edit-mode-leave-active {
    transition-duration: 650ms;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0px;
    line-height: 1;
    font-size: $font-size-sm;
    margin: 12px;
    cursor: pointer;
    color: $gray-light;

    &:hover {
      color: $jazzy;
    }

    .close {
      top: 3px;
    }
  }
}

.resume__editor, .resume__content {
  height: 100%;
  align-items: center;
  transition: all 650ms, height 1ms;
}


.resume__editor {
  flex: 0 0 91.6667%;
  background-color: $ice-cube;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateX(0%);
  max-width: 480px;
  padding: 0;

  .edit-mode-enter-active &,
  .edit-mode-leave-active & {
    transition: transform 650ms cubic-bezier(0.240, 0.260, 0.245, 1);
  }

  .edit-mode-enter &,
  .edit-mode-leave-to & {
    transform: translateX(-100%);
  }

  .preview-mode & {
    flex: 0 0 8.334%;
  }

  @include media-breakpoint-up(sm){
    flex: 0 0 480px;
  };

  @include media-breakpoint-up(lg){
    .preview-mode & {
      flex: 0 0 25%;
    }
  };

  @include media-breakpoint-up(xl){
    flex: 0 0 41.667%;
    max-width: 640px;

    .preview-mode & {
      flex: 0 0 41.666%;
      max-width: 640px;
    }
  };

}

.resume__editor-wrap {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 100%;
  min-height: 550px;
  width: 91.668vw;
  max-width: 480px;
  overflow: hidden;
  transform: translateX(0px);
  transition: opacity 650ms;


  @include media-breakpoint-down(lg){
    .preview-mode & {
      opacity: .4;
    }
  }

  @include media-breakpoint-up(sm){
    width: 100%;
    min-width: 480px;
  };

  @include media-breakpoint-up(xl){
    max-width: 640px;
  };

  .edit-mode-enter-active & {
    transition: transform 850ms cubic-bezier(0.240, 0.260, 0.245, 1.170);
  }

  .edit-mode-enter & {
    transform: translateX(-350px)
  }

  .edit-mode-leave-active & {
    transition: transform 850ms cubic-bezier(0.240, 0.260, 0.245, 1);
  }

  .edit-mode-leave-to & {
    transform: translateX(25%);
  }
}



.editor__header, .editor__footer {
  // max-width: 400px;
}


// Editor Header

.editor__header {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 24px;
  z-index: 5;
  transition: padding 350ms;

  .editor__phase-heading {
    color: $jazzy;
  }

  hr {
    width: 64px;
    border-color: $jean-jacket;
  }

  @media ( min-height: 700px ) {
    padding: 32px;
  }
}

.editor__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  border-radius: 0px;

  .progress-bar {
    border-radius: 0px 3px 3px 0px;
    height: 6px;
    transition: width 850ms;
    width: 100%;
  }
}

.editor__phase__dots {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  transition: padding 350ms;

  @media ( min-height: 700px ) {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  li {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    margin: 0 8px;
    font-family: $font-family-sans-serif;
    font-size: $font-size-sm;
    line-height: 32px;
    font-weight: 700;
    color: $jazzy;
    vertical-align: middle;
    cursor: pointer;
    transition: all 150ms;

    &:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 4px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      z-index: -1;
      transition: all 150ms ease-out;
    }

    &:hover {
      &:after {
        background-color: fade-out($jean-jacket, .75);
      }
    }

    &.-active {
      color: $white;

      &:after {
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        background-color: $gummy;
      }
    }

    &.-disabled {
      color: $jean-jacket;
      cursor: default;

      &:after {
        content: none;
      }
    }
  }
}

.editor__footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 16px;
  text-align: center;
  z-index: 5;
}

.preview-toggle {
  height: 1px;
  position: absolute;
  width: 91.6667%;
  max-width: 480px;
  z-index: 25;
  transition: all 650ms;

  @include media-breakpoint-between(xs, md){
    .preview-mode & {
      width: 8.6667%;
    }
  };

  @include media-breakpoint-up(sm) {
    width: 480px;
  }

  @include media-breakpoint-only(lg){
    .preview-mode & {
      width: 25%;
    }
  };

  @include media-breakpoint-up(xl) {
    width: 41.6667%;
    max-width: 620px;
  }
}

.preview-toggle__btn {
  position: absolute;
  display: flex;
  top: 25vh;
  right: -16px;
  width: 32px;
  height: 32px;
  background-color: $jean-jacket;
  border-radius: 50%;
  transition: all 250ms 0ms, top 1ms;
  opacity: 0;
  align-items: center;
  justify-content: center;

  .i--arrow {
    margin: 0;
    background-image: url('../img/UI/arrow-right-lighter.svg');
  }

  .preview-mode & {
    .i--arrow {
      transform: rotate(180deg);
    }
  }

  .edit-mode & {
    @include media-breakpoint-down(lg) {
      animation: popIn 350ms 650ms cubic-bezier(0.240, 0.260, 0.245, 1.170);
      animation-fill-mode: forwards;
    }
  }
}

@keyframes popIn {
  0% {  opacity: 0;
        transform: scale(.8);
      }
  60% {
    transform: scale(1.1);
  }
  100% {  opacity: 1;
        transform: scale(1);
      }
}


.sidebar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  transform: translateX(0%);
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
  background-color: rgba($white, .85);


  @include media-breakpoint-up(md) {
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 50px;
    background-color: transparent;
  }

  &.v-enter-active,
  &.v-leave-active {
    transition: all 350ms;
  }

  &.v-enter-active {
    transition-delay: 850ms;
  }

  &.v-enter,
  &.v-leave-to {
    transform: translateX(-100%);
  }


  .sidebar-btn {
    flex: 0 0 auto;
    margin: 6px;
    color: $gray;
    opacity: .5;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

// *************************
// CONTENT
// *************************



// ** resume Content

.resume__content {
  flex: 0 0 1;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $white;
  transform: translateX(0%);
  transition: all 650ms, height 1ms;
  -webkit-overflow-scrolling: touch;

  // transitions
  .edit-mode-enter-active &,
  .edit-mode-leave-active & {
    transition: transform 650ms cubic-bezier(0.240, 0.260, 0.245, 1);
  }

  .edit-mode-enter &,
  .edit-mode-leave-to & {
    transform: translateX(100%);
  }

  @include media-breakpoint-down(lg) {
    &:after {
      content: '';
      position: absolute;
      width: 150px;
      top: 0px;
      right: 0px;
      height: 100%;
      background-image: linear-gradient(to left, fade-out($white, .2), fade-out($white, 1));
      transition: all 350ms;
      z-index: $zindex-sticky;
    }

    .preview-mode & {
      &:after {
        width: 0px;
        opacity: 0;
      }
    }
  }
}

#resume__preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  min-width: 91.667vw;
  transition: min-width 400ms;

  @include media-breakpoint-up(lg){
    min-width: 75vw;
  };

  @include media-breakpoint-up(xl){
    min-width: 100%;
  };
}

.preview__phase {
  max-height: 100vh;
  overflow: visible;
  padding-top: 4em;
  padding-left: $grid-gutter-width-base;
  padding-right: $grid-gutter-width-base;
  margin: auto;
  width: 100%;
  max-width: map-get($container-max-widths, md);

  > *:last-child {
    margin-bottom: 4em;
  }

  .phase__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em 0;
  }
}

// Transitions
.preview__phase {
  &.slide-enter-active,
  &.slide-leave-active {
    transition: all 700ms;
  }

  &.slide-enter {
    opacity: 0;
    transform: translateY(50%);
  }

  &.slide-leave-to {
    opacity: 0;
    transform: translateY(-50%);
}
}

.slide-list-enter-active,
.slide-list-leave-active,
.slide-list-move {
  transition: all 600ms;
}

.slide-list-leave-active {
  position: absolute;
}

.slide-list-enter {
  opacity: 0;
  transform: translateY(50px);
}


.slide-list-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}


//
//  Resume intro Style
//

#resume-intro {
  position: relative;

  // ** Transition
  &.intro-enter-active {
    transition: all 800ms ease-out;
  }

  &.intro-leave-active {
    transition: all 600ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  &.intro-enter {
    opacity: 0;
    transform: translateY(20px);
  }

  &.intro-leave-to {
    opacity: 0;
    transform: translateY(100px);
  }

  .resume-intro__text {
    display: flex;
    position: relative;
    min-height: 100vh;
    padding-top: 64px;
    padding-bottom: 100px;
    overflow: hidden;
  }

  .resume-intro__illo {
    position: absolute;
    top: 70%;
    height: 55vh;
    min-height: 300px;
    left: 0px;
    right: 0px;
    background : {
      size: cover;
      repeat: no-repeat;
      position: top center;
    }

    @include media-breakpoint-up(sm){
      top: 60%;
    }

    @include media-breakpoint-up(lg){
      top: 50%;
    }
    @include media-breakpoint-up(xl){
      top: 40%;
      height: 65vh;
    }

  }
}


//
// Resume Layout
//

#resume__layout {
  padding-top: 8rem;
  opacity: 1;
  transition: all 650ms 300ms;

  .edit-mode & {
    transform: translateY(48px);
    opacity: 0;
    transition: all 650ms 0ms;
  }

  &.edit-mode-enter-active {
    transition: all 1250ms 600ms;
  }

  &.edit-mode-leave-active {
    transition: all 450ms;
  }

  &.edit-mode-enter,
  &.edit-mode-leave-to {
    transform: translateY(48px);
    opacity: 0;
  }

  // fallback since overflow trick does not prevent scrolling on ios (not sure aobut other mobile, so just including it)
  .ua-mobile .edit & {
    display: none;
  } 
}

.resume__layout-wrap {



  // .edit-mode-enter-active & {
  //   transition: all 650ms 400ms ease;
  // }
  //
  // .edit-mode-leave-active & {
  //   transition: all 450ms ease-out;
  // }
  //
  // .edit-mode-enter & {
  //   transform: translateY(48px);
  //   opacity: 0;
  // }
  //
  // .edit-mode-leave-to & {
  //   opacity: 0;
  //   transform: translateY(100px);
  // }
}

.i--arrow {
  display: inline-block;
  width: 16px;
  height: 10px;
  margin: 0 9px;

  background : {
    position: center right;
    repeat: no-repeat;
    size: auto 8px;
    image : url('../img/UI/arrow-right-light.svg');
  }
}

.job {

  margin-bottom: 4rem;

  .job__date {
    // color: $jazzy;
  }

  .job__location {
    color: $gray;
    margin-left: 1rem;
    font-weight: 400;
  }
}

.skill-list {
  margin-bottom: 2rem;

  .card {
    height: 100%;
  }

  .card-block {
    padding: 2rem;
  }
}

.section-header {
  position: sticky;
  top: 32px;
}

#resume-outro {

  padding-bottom: 200px;


  background: {
    size : cover;
    position: center top;
  }
}


// random
//


// checkboxGroup

.checkbox-group {
  align-items: center;

  .checkbox-group__item {
    @include make-col-ready();
    @include make-col(4);
    margin: .5rem 0 2rem;
  }

  .form-check {
    margin: 0;
    align-content: center;

    &:hover {
      .form-check__description {
        color: $jazzy;
      }
    }

    .form-check__indicator {
      width: 1.25rem;
      height: 1.25rem;
    }
    .form-check__description {
      display: inline-block;
      font-family: $font-family-sans-serif;
    }
  }
}
