// Flex variation
//
// Custom styles for additional flex alignment options.

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .-flex--first#{$infix}     { order: -1; }
    .-flex--last#{$infix}      { order: 1; }
    .-flex-unordered#{$infix} { order: 0; }

    .-flex--row#{$infix}            { flex-direction: row !important; }
    .-flex--col#{$infix}         { flex-direction: column !important; }
    .-flex--row-rev#{$infix}    { flex-direction: row-reverse !important; }
    .-flex--col-rev#{$infix} { flex-direction: column-reverse !important; }

    .-flex--wrap#{$infix}         { flex-wrap: wrap !important; }
    .-flex--nowrap#{$infix}       { flex-wrap: nowrap !important; }
    .-flex--wrap-rev#{$infix} { flex-wrap: wrap-reverse !important; }

    .-justify-content--start#{$infix}   { justify-content: flex-start !important; }
    .-justify-content--end#{$infix}     { justify-content: flex-end !important; }
    .-justify-content--center#{$infix}  { justify-content: center !important; }
    .-justify-content--between#{$infix} { justify-content: space-between !important; }
    .-justify-content--around#{$infix}  { justify-content: space-around !important; }

    .-align-items--start#{$infix}   { align-items: flex-start !important; }
    .-align-items--end#{$infix}      { align-items: flex-end !important; }
    .-align-items--center#{$infix}   { align-items: center !important; }
    .-align-items--baseline#{$infix} { align-items: baseline !important; }
    .-align-items--stretch#{$infix}  { align-items: stretch !important; }

    .-align-content--start#{$infix}   { align-content: flex-start !important; }
    .-align-content--end#{$infix}     { align-content: flex-end !important; }
    .-align-content--center#{$infix}  { align-content: center !important; }
    .-align-content--between#{$infix} { align-content: space-between !important; }
    .-align-content--around#{$infix}  { align-content: space-around !important; }
    .-align-content--stretch#{$infix} { align-content: stretch !important; }

    .-align-self--auto#{$infix}     { align-self: auto !important; }
    .-align-self--start#{$infix}    { align-self: flex-start !important; }
    .-align-self--end#{$infix}      { align-self: flex-end !important; }
    .-align-self--center#{$infix}   { align-self: center !important; }
    .-align-self--baseline#{$infix} { align-self: baseline !important; }
    .-align-self--stretch#{$infix}  { align-self: stretch !important; }
  }
}
