// Variables
//
// Define alert colors, border radius, and padding.

$alert-padding-x:             1.25rem !default;
$alert-padding-y:             .75rem !default;
$alert-margin-bottom:         $spacer-y !default;
$alert-border-radius:         $border-radius !default;
$alert-link-font-weight:      $font-weight-bold !default;
$alert-border-width:          1px;

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $brand-success;

$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;



//
// Base styles
//

.alert {
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
  position: relative;
  font-size: $font-size-sm;

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: .25rem;
    color: inherit;
  }

  // Transitions
  &.v-enter-active,
  &.v-leave-active {
    transition: all 450ms;
  }

  &.v-enter,
  &.v-leave-to {
    opacity: 0;
  }
}

// Headings for larger alerts
.alert__heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert {
  @include alert-variant(#fff, $gray-light, $gray);
}

.alert.-success {
  @include alert-variant(#fff, $alert-success-border, $alert-success-text);
  // box-shadow: 0px 3px 8px fade-out($alert-success-border, .7);
}
.alert.-info {
  @include alert-variant(#fff, $brand-info, $alert-info-text);
}
.alert.-warning {
  @include alert-variant(#fff, $brand-warning, $alert-warning-text);
}
.alert.-danger {
  @include alert-variant(#fff, $brand-danger, $alert-danger-text);
}
