.icon {
  fill: currentColor;
  display: inline-block;
  width: 1em;
  vertical-align: middle;

  // -- Size Variations
  &.-xs {
    width: .5rem;
  }

  &.-sm {
    width: .75rem;
  }

  &.-md {
    width: 1rem;
  }

  &.-lg {
    width: 1.5rem;
  }

  &.-xl {
    width: 2.5rem;
  }
}
