.icon {
  fill: currentColor;
  display: inline-block;
  height: 1em;
  vertical-align: middle;

  // -- Size Variations
  &.-xs {
    height: .5rem;
  }

  &.-sm {
    height: .75rem;
  }

  &.-md {
    height: 1.25rem;
  }

  &.-lg {
    height: 1.5rem;
  }

  &.-xl {
    height: 2.5rem;
  }
}
