
// Modals

// Padding applied to the modal body
$modal-inner-padding:         15px !default;

$modal-dialog-margin:         10px !default;
$modal-dialog-sm-up-margin-y: 32px !default;

$modal-title-line-height:     $line-height-base !default;

$modal-content-bg:               $white !default;
$modal-content-border-color:     transparent;
$modal-content-border-width:     0px;
$modal-content-xs-box-shadow:    0 3px 15px -3px rgba($grover, .3);
$modal-content-sm-up-box-shadow: 0 15px 60px -25px rgba($grover, .3);

$modal-backdrop-bg:           $lightning;
$modal-backdrop-opacity:      .8;
$modal-header-border-color:   lighten($gray-lighter, 10%);
$modal-footer-border-color:   $modal-header-border-color !default;
$modal-header-border-width:   1px;
$modal-footer-border-width:   1px;
$modal-header-padding:        15px !default;

$modal-lg:                    800px !default;
$modal-md:                    500px !default;
$modal-sm:                    300px !default;

$modal-transition:            all 300ms 50ms cubic-bezier(0.240, 0.260, 0.245, 1.170);



// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff


// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: flex;
  align-items: center;
  overflow: hidden;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  background-color: rgba($modal-backdrop-bg, $modal-backdrop-opacity);

  // When fading in the modal, animate it to slide down
  .modal__dialog { transform: scale(1); opacity: 1}

  // transitions
  &.modal-enter-active,
  &.modal-leave-active {
    transition: all 350ms;

    .modal__dialog {
      @include transition($modal-transition);
    }
  }

  &.modal-enter,
  &.modal-leave-to {
    background-color: rgba($modal-backdrop-bg, 0);

    .modal__dialog {
      transform: scale(.85);
      opacity: 0;
    }
  }
}

.modal-open .modal__dialog {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal__dialog {
  position: relative;
  width: 100%;
  min-width: 320px;
  margin: auto;
  white-space: normal;
  max-height: 100vh;
  padding: $grid-gutter-width-base;
  overflow: hidden;

  .close {
    position: absolute;
    right: 0;
    top: 0;
    margin: .25rem;
    color: $gray-light;
  }
}

// Actual modal
.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $modal-content-bg;
  background-clip: padding-box;
  border: $modal-content-border-width solid $modal-content-border-color;
  @include border-radius($border-radius-lg);
  @include box-shadow($modal-content-xs-box-shadow);
  // Remove focus outline from opened modal
  outline: 0;
  // margin-bottom: $grid-gutter-width-base;
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal__header {
  display: flex;
  align-items: center; // vertically center it
  justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
  padding: $modal-header-padding;
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
}

// Title text within header
.modal__title {
  margin-bottom: 0;
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal__body {
  position: relative;
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when should there be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  padding: $modal-inner-padding;
}

// Footer (for actions)
.modal__footer {
  display: flex;
  align-items: center; // vertically center
  justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
  flex-wrap: wrap;
  padding: $modal-inner-padding;
  border-top: $modal-footer-border-width solid $modal-footer-border-color;

  // Easily place margin between footer elements
  > :not(:first-child) { margin-left: .25rem; }
  > :not(:last-child) { margin-right: .25rem; }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}


.modal-backdrop {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: $zindex-modal-backdrop;
}
