
//
//  Base Select
//

fieldset[disabled] .multiselect {
  pointer-events: none;
}

.multiselect,
.multiselect__single {
  font-family: $font-family-sans-serif;
  touch-action: manipulation;
}

.multiselect {
  display: inline-block;
  position: relative;
  min-width: 100px;
  min-height: calc(#{$input-height} + #{$custom-select-border-width});
  padding: $custom-select-padding-y ($custom-select-padding-x + $custom-select-indicator-padding) $custom-select-padding-y $custom-select-padding-x;
  line-height: $custom-select-line-height;
  color: $custom-select-color;
  vertical-align: middle;
  border: $custom-select-border-width solid $custom-select-border-color;
  @include border-radius($custom-select-border-radius);
  text-align: left;

  // ** State Management

  &:focus {
    outline: none;
    border-color: $custom-select-focus-border-color;
  }

  &:hover {
    border-color: lighten($custom-select-focus-border-color, 20%);
  }

  &.-disabled {
    pointer-events: none;
    border-color: $gray-lighter;
    color: lighten($custom-select-color, 10%);

    .multiselect__select {
      color: lighten($custom-select-color, 10%);
    }

    .multiselect__placeholder {
      color: lighten($input-color-placeholder, 10%);
    }
  }

  &.-active {
    z-index: 50;

    .multiselect__select:before {
      transform: rotateZ(180deg);
    }
  }
}

// **

.multiselect__single,
.multiselect__placeholder {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  mask-image: linear-gradient( to right, rgba(0, 0, 0, 1.0) 80%, transparent);
  mask-position: top left;
  mask-size: cover;
  mask-repeat: no-repeat;
}

.multiselect__placeholder {
  color: $input-color-placeholder;
  display: block;
  cursor: default;
}


//
//  Select Toggle
//

.multiselect__select {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: $custom-select-indicator-padding;
  height: 100%;
  right: 0px;
  top: 0px;
  padding: 0 $custom-select-padding-x 0 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;

  &:before {
    content: "";
    color: $gray-lighter;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    margin-top: -2px;
    border-color: $gray-lighter transparent transparent transparent;
    transition: all 250ms ease;
  }
}


//
// Tags
//

.multiselect__tags {
  height: 100%;
  display: block;
}

.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 6px 18px 6px 18px;
  margin: 4px 8px 4px 0px;
  border-radius: $border-radius-sm;
  font-size: $font-size-sm;
  color: $white;
  line-height: 1;
  background: $gummy;
  white-space: nowrap;
  cursor: pointer;
  transition: all 350ms ease;

  &:after {
    content: "×";
    color: lighten($gummy, 15%);
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    font-weight: 700;
    font-style: initial;
    width: 6px;
    text-align: center;
    line-height: 26px;
    vertical-align: middle;
    border-radius: $border-radius-sm;
    transition: all 200ms ease;
  }

  &:hover, &:focus {
    padding: 6px 26px 6px 10px;

    &:after {
      opacity: 1;
      width: 22px;
      transition: all 400ms 50ms ease;
    }
  }
}


//
// Dropdown
//

.multiselect__drop {
  position: absolute;
  display: block;
  left: 0px;
  top: 0%;
  z-index: 50;
}

.multiselect__drop-wrap {
  position: relative;
  overflow-x: hidden;
  background-color: $white;
  border-radius: $custom-select-border-radius;
  border: $custom-select-border-width solid $custom-select-border-color;
  font-family: $font-family-sans-serif;
  box-shadow: 0px 6px 28px -6px fade-out($grover, .75);

    &:before, &:after {
      content: '';
      position: absolute;
      left: 0px;
      width: 100%;
      height: 0rem;
      background-repeat: no-repeat;
      pointer-events: none;
      opacity: 0;
      z-index: 1;
      transition: opacity 250ms, background 250ms, height 0ms 250ms;
    }

    &:before {
      top: 0px;
      background-image: url('../img/UI/chevron-up.svg'), linear-gradient(to bottom, $white, fade-out($white, 1));
      background-position: left 50% top 0%, center;
    }

    &:after {
      bottom: 0px;
      background-image: url('../img/UI/chevron-down.svg'), linear-gradient(to top, $white, fade-out($white, 1));
      background-position: left 50% bottom 0%, center;
    }
}

.multiselect__content {
  list-style: none;
  max-height: 90vh;
  overflow-y: scroll;
  padding-right: 50px;
  margin-right: -50px;
}


// ** Overflow States
.multiselect__drop.-overflow-top .multiselect__drop-wrap:before,
.multiselect__drop.-overflow-btm .multiselect__drop-wrap:after {
  opacity: 1;
  height: 2rem;
  transition: opacity 550ms, background 250ms, height 0ms;
}

.multiselect__drop.-overflow-top .multiselect__drop-wrap:before {
  background-position: left 50% top 25%, center;
}

.multiselect__drop.-overflow-btm .multiselect__drop-wrap:after {
  background-position: left 50% bottom 25%, center;
}


// ** Option Items

.multiselect__option {
  display: block;
  padding: .75rem 2rem;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  border-bottom: $custom-select-border-width solid $ice-cube;
}

.multiselect__element {
  display: block;

  .multiselect__option:after {
    top: 0;
    right: 0;
    position: absolute;
    line-height: 40px;
    padding-right: 12px;
    padding-left: 20px;
  }

  &.-selected {
    .multiselect__option {
      background: $ice-cube;
      color: $jazzy;
      font-weight: bold;

      &:after {
        content: '√';
        color: $jean-jacket;
      }
    }
  }

  &.-highlighted {
    .multiselect__option {
      background: $jazzy;
      color: $white;
      outline: none;
    }
  }

  &.-disabled {
    .multiselect__option {
      color: $gray-lighter;
      pointer-events: none;
    }
  }

  &.-disabled.-highlight {
    .multiselect__option {
      color: $gray-lighter;
      background-color: transparent;
    }
  }
}


// ** Transitions

.multiselect-enter-active,
.multiselect-leave-active {
  transition-property: none;
  transition-duration: 350ms;

  .multiselect__drop-wrap {
    transition: all 350ms;
  }
}

.multiselect-enter,
.multiselect-leave-active {
  .multiselect__drop-wrap {
    opacity: 0;
    transform: scale(.8);
  }
}



//
// Spinner
//

.multiselect__spinner {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 48px;
  height: 35px;
  background: #fff;
  display: block;

  &:before,
  &:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-color: #41B883 transparent transparent;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent;
  }

  &:before {
    animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite;
  }

  &:after {
    animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite;
  }
}

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
  opacity: 0;
}


@keyframes spinning {
  from { transform:rotate(0) }
  to { transform:rotate(2turn) }
}
