// Popovers

$popover-inner-padding:               $grid-gutter-width-base / 1.5;
$popover-bg:                          $gummy;
$popover-max-width:                   276px !default;
$popover-border-width:                0px;
$popover-border-color:                transparent;
$popover-box-shadow:                  0px 4px 28px -4px fade-out($grover, .85);

$popover-arrow-width:                 6px;
$popover-arrow-height:                32px;
$popover-arrow-color:                 $popover-bg !default;

$popover-arrow-outer-width:           ($popover-arrow-width + 1px) !default;
$popover-arrow-outer-color:           fade-in($popover-border-color, .05) !default;

$popover-offset:                      $popover-arrow-width + 6;


.popover {
  // // display: none;
  // visibility: hidden;
  //
  // &.-enabled {
  //   // display: block;
  //   visibility: visible;
  // }
}

.popover__link {
  display: inline-block;
  position: relative;

  // &.popup-target-attached-right {
  //   &::before {
  //     right: -($popover-arrow-width * 2) - 7;
  //   }
  //
  //   &.popup-enabled::before {
  //     top: 50%;
  //     right: -$popover-arrow-width - 7;
  //     margin-top: -$popover-arrow-height / 2;
  //     width: $popover-arrow-outer-width;
  //     height: $popover-arrow-height;
  //     background: {
  //       image: url('../img/UI/popover-nub-left.svg');
  //       position: right center;
  //       repeat: no-repeat;
  //     }
  //   }
  // }
}

.popover__drop, .shepherd-step {
  position: absolute;
  z-index: $zindex-popover;
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  @include reset-text();
  font-size: $font-size-sm;
  font-family: $font-family-sans-serif;
  // Allow breaking very long words so they don't overflow the popover's bounds
  word-wrap: break-word;
  opacity: 0;

  .nub {
    position: absolute;
    width : $popover-arrow-outer-width;
    height: $popover-arrow-height + 4;
    background: {
      image: url('/img/UI/popover-nub-left.svg');
      position: center center;
      repeat: no-repeat;
    }
  }

  .popover__drop-wrap, .shepherd-content {
    position: relative;
    max-width: $popover-max-width;
    padding: $popover-inner-padding;
    background-color: $popover-bg;
    color: $white;
    background-clip: padding-box;
    border: $popover-border-width solid $popover-border-color;
    @include border-radius($border-radius-lg);
    @include box-shadow($popover-box-shadow);
  }

  // Popover directions
  //
  //
  &.popup-element-attached-bottom {
    margin-top: -$popover-arrow-width - 6;

    .nub {
      bottom: 0;
      left: 50%;
      margin-bottom: -$popover-arrow-width;
      height: $popover-arrow-outer-width;
      width: $popover-arrow-height;
      background: {
        image: url('/img/UI/popover-nub-bottom.svg');
        position: top center;
        repeat: no-repeat;
      }
    }
  }

  &.popup-element-attached-left {
    margin-left: $popover-arrow-width + 6;

    .nub {
      top: 50%;
      left: 0px;
      margin-left: -$popover-arrow-width;
      width : $popover-arrow-outer-width;
      height: $popover-arrow-height + 4;
      background: {
        image: url('/img/UI/popover-nub-left.svg');
        position: center center;
        repeat: no-repeat;
      }
    }
  }

  &.popup-element-attached-top {
    margin-top: $popover-offset;

    .nub {
      top: 0px;
      left: 50%;
      margin-top: -$popover-arrow-width;
      height: $popover-arrow-outer-width;
      width: $popover-arrow-height;
      background: {
        image: url('/img/UI/popover-nub-top.svg');
        position: top center;
        repeat: no-repeat;
      }
    }
  }

  &.popup-element-attached-right {
    margin-left: -$popover-arrow-width - 6;

    .nub {
      top: 50%;
      right: 0px;
      margin-right: -$popover-arrow-width;
      width: $popover-arrow-outer-width;
      height: $popover-arrow-height;
      background: {
        image: url('/img/UI/popover-nub-right.svg');
        position: right center;
        repeat: no-repeat;
      }
    }
  }

  .close {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}


// ** Transitions

.popover__drop {
  transition: opacity 300ms;

  .popover__drop-wrap {
    transition: all 300ms cubic-bezier(0.240, 0.260, 0.245, 1.8);
    transform: translateY(8px);
  }

  &.-active {
    opacity: 1;

    .popover__drop-wrap {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .nub {
    transition: margin 250ms 50ms ease;
  }

  &:not(.-active) {
    .nub {
      margin : 0;
    }
  }

  //
  //
  // &.poop-enter-active,
  // &.poop-leave-active {
  //   transition: opacity 350ms;
  //
  //   .popover__drop-wrap {
  //     transition: all 350ms cubic-bezier(0.240, 0.260, 0.245, 1.8);
  //   }
  //   .nub {
  //     transition: transform 250ms ease, margin 200ms 50ms ease;
  //   }
  // }
  //
  // &.poop-enter,
  // &.poop-leave-to,
  // {
  //   opacity: 0;
  //
  //   .popover__drop-wrap {
  //     transform: translateY(8px);
  //   }
  //
  //   .nub {
  //     margin: 0px;
  //   }
  // }

}

// Offset the popover to account for the popover arrow
.popover__title {
  margin-bottom: .5rem; // Reset the default from Reboot
  font-size: $font-size-h5;
  color: $white;
  $offset-border-width: calc(#{$border-radius-lg} - #{$popover-border-width});
  @include border-top-radius($offset-border-width);

  &:empty {
    display: none;
  }
}

.popover__content {

}

span.popover-link {
  display: inline-block;
}


// Arrows
//
// .popover-arrow is outer, .popover-arrow::after is inner

.popover::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}


// Shepherd Stuff
//

.shepherd-step {
  display: none;
  opacity: 0;

  &.shepherd-open {
    display: block;
    animation: popoverIn 450ms 350ms forwards;
  }

}

@keyframes popoverIn {
  from {
    opacity: 0;
    margin-top: 16px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}
