// Popovers

$popover-inner-padding:               $grid-gutter-width-base / 1.5;
$popover-bg:                          $gummy;
$popover-max-width:                   276px !default;
$popover-border-width:                $border-width !default;
$popover-border-color:                transparent;
$popover-box-shadow:                  0px 4px 28px -4px fade-out($grover, .85);

$popover-arrow-width:                 6px;
$popover-arrow-height:                30px;
$popover-arrow-color:                 $popover-bg !default;

$popover-arrow-outer-width:           ($popover-arrow-width + 1px) !default;
$popover-arrow-outer-color:           fade-in($popover-border-color, .05) !default;


.popover {
  position: absolute;
  z-index: $zindex-popover;
  display: block;
  max-width: $popover-max-width;
  padding: $popover-inner-padding;
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  @include reset-text();
  font-size: $font-size-sm;
  font-family: $font-family-sans-serif;
  // Allow breaking very long words so they don't overflow the popover's bounds
  word-wrap: break-word;
  background-color: $popover-bg;
  color: $white;
  background-clip: padding-box;
  border: $popover-border-width solid $popover-border-color;
  @include border-radius($border-radius-lg);
  @include box-shadow($popover-box-shadow);


  // Popover directions

  &.popover-top,
  &.bs-tether-element-attached-bottom {
    margin-top: -$popover-arrow-width - 6;

    &::before {
      bottom: -$popover-arrow-width;
      left: 50%;
      margin-left: -$popover-arrow-height / 2;
      height: $popover-arrow-outer-width;
      width: $popover-arrow-height;
      background: {
        image: url('../img/UI/popover-nub-bottom.svg');
        position: top center;
        repeat: no-repeat;
      }
    }
  }

  &.popover-right,
  &.bs-tether-element-attached-left {
    margin-left: $popover-arrow-width + 6;

    &::before {
      top: 50%;
      left: -$popover-arrow-width;
      margin-top: -$popover-arrow-height / 2;
      width: $popover-arrow-outer-width;
      height: $popover-arrow-height;
      background: {
        image: url('../img/UI/popover-nub-left.svg');
        position: right center;
        repeat: no-repeat;
      }
    }
  }

  &.popover-bottom,
  &.bs-tether-element-attached-top {
    margin-top: $popover-arrow-width + 6;

    &::before {
      top: -$popover-arrow-width;
      left: 50%;
      margin-left: -$popover-arrow-height / 2;
      height: $popover-arrow-outer-width;
      width: $popover-arrow-height;
      background: {
        image: url('../img/UI/popover-nub-top.svg');
        position: top center;
        repeat: no-repeat;
      }
    }
  }

  &.popover-left,
  &.bs-tether-element-attached-right {
    margin-left: -$popover-arrow-width - 6;

    &::before {
      top: 50%;
      right: -$popover-arrow-width;
      margin-top: -$popover-arrow-height / 2;
      width: $popover-arrow-outer-width;
      height: $popover-arrow-height;
      background: {
        image: url('../img/UI/popover-nub-right.svg');
        position: right center;
        repeat: no-repeat;
      }
    }
  }

  .close {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}


// Offset the popover to account for the popover arrow
.popover-title {
  margin-bottom: .5rem; // Reset the default from Reboot
  font-size: $font-size-h5;
  color: $white;
  $offset-border-width: calc(#{$border-radius-lg} - #{$popover-border-width});
  @include border-top-radius($offset-border-width);

  &:empty {
    display: none;
  }
}

.popover-content {

}

span.popover-link {
  display: inline-block;
}


// Arrows
//
// .popover-arrow is outer, .popover-arrow::after is inner

.popover::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}


// Shepherd Stuff
//

.shepherd-step {
  display: none;
  opacity: 0;

  &.shepherd-open {
    display: block;
    animation: popoverIn 450ms 350ms forwards;
  }

}

@keyframes popoverIn {
  from {
    opacity: 0;
    margin-top: 16px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}
