//
//
//
//
//
// Headings
//

h1, h2, h3, h4, h5, h6,
.t__h1, .t__h2, .t__h3, .t__h4, .t__h5, .t__h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  strong {
    font-weight: 700;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }


// Type display classes
.t__display--big {
  font-size: $display1-size;
  font-weight: $display1-weight;
  line-height: $display-line-height;
}
.t__display {
  font-size: $display2-size;
  font-weight: $display2-weight;
  line-height: $display-line-height;
}


//
// Lists
//

// Default unordered list

ul {
  @include list-unstyled;
}

// Default ordered list

ol {
  list-style: none;
  counter-reset: li;

  li {
    counter-increment: li;

    &:before {
      content: counter(li);
      width: 2rem;
      margin-left: -2rem;
      display: inline-block;
      color: $gray;
      text-align: center;
      font-weight: $font-weight-bold;
      font-size: .75em;
    }
  }
}


// List variants

ul, ol {
  // Relaxed - extra spacing
  &.-relaxed {
    li {
      margin-bottom: .5rem;
    }
  }

  // Inline - turns list items into inline-block
  &.-inline {
    @include list-unstyled;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: $list-inline-padding;
      }
    }
  }

  &.-inline-text {
    display: inline;

    li {
      display: inline;

      &:after {
        content: ',';
      }

      &:nth-of-type(2):before {
        content: ', '
      }

      &:before {
        content: ' ';
      }

      &:last-of-type:before {
        content: ' and ';
      }

      &:last-of-type:after {
        content: '';
      }
      
      &:first-of-type:after {
        content: '';
      }

      &:first-of-type:before {
        content: '';
      }

      // &:nth-last-of-type(2):before {
      //   content: ' and ';
      // }
    }
  }
}


ul {
  // Bulleted list
  &.-bullets {
    list-style: none;
    padding-left: 2em;

    li:before {
      content: '•';
      width: 2rem;
      margin-left: -2rem;
      display: inline-block;
      color: $gray-light;
      text-align: center;
      font-size: .75em;
    }
  }

}


//
// Blockquotes
//

.blockquote {
  padding: ($spacer / 2) $spacer;
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
  border-left: $blockquote-border-width solid $blockquote-border-color;
}

.blockquote-footer {
  display: block;
  font-size: 80%; // back to default font-size
  color: $blockquote-small-color;

  &::before {
    content: "\2014 \00A0"; // em dash, nbsp
  }
}

// Opposite alignment of blockquote
.blockquote-reverse {
  padding-right: $spacer;
  padding-left: 0;
  text-align: right;
  border-right: $blockquote-border-width solid $blockquote-border-color;
  border-left: 0;
}

.blockquote-reverse .blockquote-footer {
  &::before {
    content: "";
  }
  &::after {
    content: "\00A0 \2014"; // nbsp, em dash
  }
}


//
// General Modifiers
//


// -- Sizes

.t--large {
  font-size: $font-size-lg;
}

.t--regular {
    font-size: $font-size-base;
}

small,
.t--small {
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
}

.t--smaller {
  font-size: $font-size-xs;
}

.t--lead {
  font-family: $font-family-sans-serif;
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}


// -- Alignment

.t--nowrap   { white-space: nowrap !important; }
.t--truncate { @include text-truncate; }

// Responsive alignment
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .t--left#{$infix}     { text-align: left !important; }
    .t--right#{$infix}    { text-align: right !important; }
    .t--center#{$infix}   { text-align: center !important; }
    .t--justify#{$infix}  { text-align: justify !important; }
  }
}

// -- Transformation

.t--lc  { text-transform: lowercase !important; }
.t--uc  { @include caps; }
.t--cap { text-transform: capitalize !important;}


// -- Weight

.t--normal { font-weight: $font-weight-normal; }
.t--bold   { font-weight: $font-weight-bold; }


// -- Contextual colors

@include text-color-variant('.c--muted', $text-muted);

@include text-color-variant('.c--success', $brand-success);

@include text-color-variant('.c--info', $brand-info);

@include text-color-variant('.c--warning', $brand-warning);

@include text-color-variant('.c--danger', $brand-danger);

// Font colors

// grays
@include text-color-variant('.c--white', $white );
@include text-color-variant('.c--gray-dark', $gray-dark);
@include text-color-variant('.c--gray', $gray);
@include text-color-variant('.c--gray-light', $gray-light);
@include text-color-variant('.c--gray-lighter', $gray-lighter);
@include text-color-variant('.c--gray-lightest', $gray-lightest);

// blues
@include text-color-variant('.c--late-night', $late-night);
@include text-color-variant('.c--grover', $grover);
@include text-color-variant('.c--jazzy', $jazzy);
@include text-color-variant('.c--jean-jacket', $jean-jacket);
@include text-color-variant('.c--ice-cube', $ice-cube);

// brand
@include text-color-variant('.c--lightning', $lightning);
@include text-color-variant('.c--gummy', $gummy);

// -- font-family

.t--sans  { font-family: $font-family-sans-serif }
.t--serif { font-family: $font-family-serif }


//
// Misc
//

.t--hide {
  @include text-hide();
}


//
// Horizontal rules
//

hr {
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

mark,
.t--mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}

.t--emphasis {
  font-style: italic;
}

.t--italic {
  font-style: italic;
}


//
// Misc
//

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
