//
// Editor Step & Phase
//

.editor__phase, .editor__step {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform : translateX(0px);
  opacity: 1;
}


.editor__step {

  padding-left: $grid-gutter-width-base;
  padding-right: $grid-gutter-width-base;

  &.slide-next-enter-active, &.slide-prev-enter-active {
    transition: all 500ms 200ms ease-in-out;
  }

  &.slide-next-leave-active, &.slide-prev-leave-active {
    transition: all 700ms ease-in-out;
  }
  
  &.slide-next-enter,
  &.slide-next-leave-to,
  &.slide-prev-enter,
  &.slide-prev-leave-to {
    opacity: 0;
  }

  &.slide-next-enter,
  &.slide-prev-leave-to {
    transform: translateX(400px);
  }

  &.slide-prev-enter,
  &.slide-next-leave-to {
    transform: translateX(-400px);
  }
}

.editor__phase {
  &.v-enter-active,
  &.v-leave-active {
    transition: all 900ms;
  }

  &.v-enter, &.v-leave-to {
    opacity: 0;
  }
}

.editor__content {
  width: 100%;
  max-width: 400px;
  position: relative;
  margin: auto;

  .intro-photo {
    margin-bottom: -16px;
    text-align: center;

    img {
      height: 125px;
    }

    @media ( min-height: 600px){
      img {
        height: 165px;
      }
    }
  }
}

.editor__question {
  text-align: left;
}

.editor__input {
  margin-top: 32px;

  &.-standard {
    display: none;
  }

  @media ( min-height: 700px ) {
    &.-standard {
      display: block;
    }

    &.-condensed {
      display: none;
    }
  }
}

.editor__errors {
  height: 1px;

  p.has-error {
    text-align: center;
    font-family: $font-family-sans-serif;
    font-size: $font-size-sm;
    color: $gummy;
  }
}

.editor__input {
  .select {
    @include make-col-ready();
  }
}

.radial-group {
  .btn {
    padding: 16px;
    font-size: $font-size-xs;
    position: relative;
    margin-bottom: 16px;
    border-color: $jean-jacket;
    background-color: transparent;

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 12px;
      top: 12px;
      width: 24px;
      height: 24px;
      background-image: url('../img/UI/check-circle-gummy.svg');
      transform: translateX(-16px) scale(.5);
      transition: all 250ms cubic-bezier(0.240, 0.260, 0.245, 1.170);
      visibility: hidden;
      opacity: 0;
    }

    &:active, &:focus {
      background-color: transparent;
      box-shadow: none;
    }

    &:hover {
      background-color: transparent;
      border-color: $jazzy;
      box-shadow: none;
      color: $jazzy;
    }

    &.-selected {
      border-color: $gummy;
      color: $gummy;
      padding-left: 42px;

      &:after {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px) scale(1);
      }
    }
  }
}
