
/**
 * Editor Navigation
 */


$nav-transition-dur : 650ms;


.editor__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
}

.editor__back-btn, .editor__next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  margin: 0 4px;
  border-radius: 36px;
  background-color: $jean-jacket;
  color: $white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  vertical-align: middle;
  font-size: $font-size-sm;
  font-weight: 700;
  text-align: center;
  letter-spacing: .05em;
  border: 1px solid $jean-jacket;
  overflow: hidden;

  &:hover {
    background-color: $jazzy;
  }

  .arrow-wrap {
    flex: 0 0 auto;
    height: 24px;
    width: 16px;
    margin: 0 9px;
    padding-top: 1px;
    overflow: hidden;
    transition: all ($nav-transition-dur * .5);


    .icon {
      height: 24px;
    }
  }

  span.editor-btn__text {
    flex: 0 1 auto;
    transform: translateY(0px);
    opacity: 1;
    overflow: hidden;
  }

  &[disabled] {
    background-color: transparent;
    cursor: default;

    .arrow-wrap {
      color: $jean-jacket;
    }
  }
}

.editor__back-btn {

  .arrow-wrap {
    .icon {
      float: left;
    }
  }

  
}

.editor__next-btn {
  flex-wrap: nowrap;

  .arrow-wrap {
    .icon {
      float: right;
    }
  }


  &.-active {
    height: 46px;
    width: 200px;
    border-radius: 46px;

    .arrow-wrap {
      width: 36px;
      transition: width ($nav-transition-dur * .4);
      margin: 0 15px;
    }

    &:hover {
      background-color: $grover;

      .arrow-wrap {
        width: 46px;
        transition: width 200ms ease-out;
      }
    }

    // ** transition styles
    &.nav-btn-enter, &.nav-btn-leave-to {

      span.editor-btn__text {
        opacity: 0;
        transform: translateY(8px);
      }

      .arrow-wrap {
          width: 16px;
          color: $jean-jacket;
          margin: 0 9px;  
      }
    }

    &.nav-btn-enter-active {
      transition-duration: $nav-transition-dur;

      .arrow-wrap {
        transition: width ($nav-transition-dur * .4) ($nav-transition-dur * .5), margin ($nav-transition-dur * .5);
      }

      // .i--arrow {
      //   transition: width 250ms 250ms, margin 260ms;
      // }

      span.editor-btn__text {
        transition: all ($nav-transition-dur * .3) ($nav-transition-dur * .7) ease;
      }
    }

    &.nav-btn-leave-active {
      transition-duration: $nav-transition-dur;

      .arrow-wrap {
        transition: all ($nav-transition-dur * .4) ($nav-transition-dur * .4);
      }

      span.editor-btn__text {
        transition: all 0ms $nav-transition-dur ease, opacity ($nav-transition-dur * .5) ($nav-transition-dur * .5) ease;
      }
    }
  }

  // Next Button
  &.-next {
    background-color: $jazzy;

    &:hover {
      background-color: $grover;
    }

    &.nav-btn-enter-active {
      animation: next-btn-active $nav-transition-dur normal;
    }

    &.nav-btn-leave-active {
      animation: next-btn-close $nav-transition-dur;
    }
  }

  // Done Button
  &.-done {
    background-color: $gummy;
    border-color: transparent;

    &:hover {
      background-color: darken($gummy, 10);
    }

    &.nav-btn-enter-active {
      animation: done-btn-active $nav-transition-dur normal;
    }

    &.nav-btn-leave-active {
      animation: next-btn-close $nav-transition-dur;
    }
  }
}


@keyframes next-btn-close {
  0% {
    height: 46px;
    width: 200px;
    border-radius: 46px;
    background-color: $jazzy;
    line-height: 46px;
  }

  40% {
    height: 46px;
    width: 200px;
    border-radius: 46px;
    background-color: $jean-jacket;
  }

  50% {
    height: 36px;
    width: 190px;
    border-radius: 36px;

  }
  80% {
    width: 36px;
    height: 36px;
  }

  100% {
    width: 36px;
    height: 36px;
    background-color: transparent;
  }

}

@keyframes next-btn-active {
  0% {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: transparent;
  }
  50% {
    height: 46px;
    width: 46px;
    line-height: 46px;
    background-color: $jazzy;
  }
  100% {
    height: 46px;
    width: 200px;
  }
}

@keyframes done-btn-active {
  0% {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: transparent;
  }
  50% {
    height: 46px;
    width: 46px;
    line-height: 46px;
    background-color: $gummy;
  }
  100% {
    height: 46px;
    width: 200px;
  }
}
