
/**
 * Editor Navigation
 */

.editor__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
}

.editor__back-btn, .editor__next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  margin: 0 4px;
  border-radius: 36px;
  background-color: $jean-jacket;
  color: $white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  vertical-align: middle;
  font-size: $font-size-sm;
  font-weight: 700;
  text-align: center;
  letter-spacing: .05em;
  border: 1px solid $jean-jacket;
  overflow: hidden;

  &:hover {
    background-color: $jazzy;
  }

  .i--arrow {
    flex: 0 0 auto;
    background : {
      position: center right;
      repeat: no-repeat;
      size: auto 8px;
    }
    width: 16px;
    height: 10px;
    margin: 0 9px;
    transition: all 350ms;
  }

  span.editor-btn__text {
    flex: 0 1 auto;
    transform: translateY(0px);
    opacity: 1;
    overflow: hidden;
  }
}

.editor__back-btn {

  .i--arrow {
    background-image: url('../img/UI/arrow-left-lighter.svg');
    background-position: center left;
  }

  &[disabled] {
    background-color: transparent;
    cursor: default;

    .i--arrow {
      background-image: url('../img/UI/arrow-left-light.svg');
    }
  }
}

.editor__next-btn {
  flex-wrap: nowrap;

  .i--arrow {
    background-image: url('../img/UI/arrow-right-lighter.svg');
    background-position: center right;
  }

  &[disabled] {
    background-color: transparent;
    cursor: default;

    .i--arrow {
      background-image: url('../img/UI/arrow-right-light.svg');
    }
  }

  &.-active {
    height: 46px;
    width: 200px;
    border-radius: 46px;

    .i--arrow {
      width: 36px;
      transition: width 250ms;
      margin: 0 15px;
    }

    &:hover {
      background-color: $grover;
      .i--arrow {
        width: 48px;
        transition: width 200ms ease-out;
      }
    }

    // ** transition styles
    &.nav-btn-enter, &.nav-btn-leave-to {

      span.editor-btn__text {
        opacity: 0;
        transform: translateY(36px);
      }

      .i--arrow {
        width: 16px;
        background-image: url('../img/UI/arrow-right-light.svg');
        margin: 0 9px;
      }
    }

    &.nav-btn-enter-active {

      .i--arrow {
        transition: width 250ms 250ms, margin 260ms;
      }

      span.editor-btn__text {
        transition: all 450ms 200ms ease;
      }
    }

    &.nav-btn-leave-active {

      .i--arrow {
        transition: all 250ms 250ms;
      }

      span.editor-btn__text {
        transition: all 0ms 650ms ease;
      }
    }
  }

  // Next Button
  &.-next {
    background-color: $jazzy;

    &:hover {
      background-color: $grover;
    }

    &.nav-btn-enter-active {
      animation: next-btn-active 650ms normal;
    }

    &.nav-btn-leave-active {
      animation: next-btn-close 650ms;
    }
  }

  // Done Button
  &.-done {
    background-color: $gummy;
    border-color: transparent;

    &:hover {
      background-color: darken($gummy, 10);
    }

    &.nav-btn-enter-active {
      animation: done-btn-active 650ms normal;
    }

    &.nav-btn-leave-active {
      animation: next-btn-close 650ms;
    }
  }
}


@keyframes next-btn-close {
  0% {
    height: 46px;
    width: 200px;
    border-radius: 46px;
    background-color: $jazzy;
    line-height: 46px;
  }

  40% {
    height: 46px;
    width: 200px;
    border-radius: 46px;
    background-color: $jean-jacket;
  }

  50% {
    height: 36px;
    width: 190px;
    border-radius: 36px;

  }
  80% {
    width: 36px;
    height: 36px;
  }

  100% {
    width: 36px;
    height: 36px;
    background-color: transparent;
  }

}

@keyframes next-btn-active {
  0% {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: transparent;
  }
  50% {
    height: 46px;
    width: 46px;
    line-height: 46px;
    background-color: $jazzy;
  }
  100% {
    height: 46px;
    width: 200px;
  }
}

@keyframes done-btn-active {
  0% {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: transparent;
  }
  50% {
    height: 46px;
    width: 46px;
    line-height: 46px;
    background-color: $gummy;
  }
  100% {
    height: 46px;
    width: 200px;
  }
}
