//
// Image Grid
//

// .image-grid {
//   position: relative;
//   padding-bottom: 56.25%;
//
//   &.-short {
//     padding-bottom: 28.125%;
//   }
//
//   &.-tall {
//     padding-bottom: 85.125%;
//   }
//
//   .image-grid__wrap {
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     height: 100%;
//   }
//
//   .g__row {
//     height: 100%;
//   }
// }
//
// .image-grid__col {
//   height: 100%;
//   display: flex;
//   flex-direction: column;
// }
//
// .image-grid__item {
//   flex: 1 0 auto;
//   max-height: 100%;
//   background: {
//     size : cover;
//   }
//   border-radius: $border-radius-sm;
//
//   + .image-grid__item {
//     margin-top: $grid-gutter-width-base;
//   }
//
//   &.-c8 {
//     flex: 0 0 66.667%;
//   }
//
// }
//
// #visual-summary {
//   .image-grid + .image-grid {
//     margin-top: $grid-gutter-width-base;
//   }
// }

.image-grid {
  .g__row + .g__row {
    margin-top: $grid-gutter-width-base;
  }
}

.image-grid__col {
  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-down(xs){
    & + .image-grid__col {
      margin-top: $grid-gutter-width-base;
    }
  }

  @include media-breakpoint-up(sm){
    &.-half {
      @include make-col(6);
    }
  };


}

.image-grid__item {
  position: relative;
  background-color: $gray-lightest;
  padding-bottom: 50%;
  background: {
    size : cover;
    position: center center
  }
  border-radius: $border-radius-sm;
  overflow: hidden;
  transition: all 450ms;

  &.-horz {
    padding-bottom: 75%;
  }

  &.-vert {
    padding-bottom: calc(150% + #{$grid-gutter-width-base});
  }

  + .image-grid__item {
    margin-top: $grid-gutter-width-base;
  }

  .caption {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: $grid-gutter-width-base / 2;
    // font-size: $font-size-sm;
    opacity: 0;
    transform: translateY(20%);
    transition: all 350ms;
    // text-shadow: 0px 0px 5px rgba($gray-dark, .6);
    background-color: fade-out($late-night, .3);

    &.-reverse {
      color: $white;
    }
  }

  &:hover {
    .caption {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
