#main-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  transform: translateY(0%);
  transition: all 650ms 450ms;
  z-index: $zindex-navbar;

  .nav-link {
    color: $gray-light;
  }
}

.-hide-menu #main-menu,
.-hide-menu .logo {
  transform: translateY(-100%);
  transition: all 650ms;
}

.logo {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 16px 24px;
  opacity: .8;
  z-index: $zindex-navbar + 1;
  margin-right: 15px;
  transition: all 650ms 450ms;

  &:hover {
    opacity: 1;
  }
}

.logo {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;

  .logo-text {
    visibility: hidden;
    opacity: 0;
    transition: all 350ms;
    transform: translateY(-6px);
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;

    .logo-text {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.logo-text {
  margin-top: 6px;
  margin-left: 12px;
}
