#main-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  transform: translateY(0%);
  transition: all 650ms 450ms;
  z-index: $zindex-navbar;

  .nav-link {
    color: $gray-light;
  }
}

.-hide-menu #main-menu {
  transform: translateY(-100%);
  transition: all 650ms;
}

.logo-mark {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 16px 24px;
  // opacity: .5;
  z-index: 999;
  margin-right: 15px;

  .icon {
    width: 2em;
  }
}

.logo {

  cursor: pointer;

  .logo-text {
    visibility: hidden;
    opacity: 0;
    transition: all 350ms;
    transform: translateY(-6px);
  }

  &:hover {
    .logo-text {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.logo-text {
  margin-top: 6px;
  margin-left: 12px;
}
