#portrait {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
  background-color: $gray-lightest;

  @include media-breakpoint-up('md') {
    padding-bottom: 56.25%;
  };

  .portrait__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;


    background: {
      size: cover;
      position: top center;
      repeat: no-repeat;
    }

    &.swapper {
      opacity: 1;
      transition: opacity 200ms;
    }
  }

  &.-swapping {
    .portrait__image.swapper {
      opacity: 0;
      transition: opacity 0ms;
    }
  }

  .loader {
    position: absolute;
    top: 0;
    left: 0px;
    margin: 15px;
  }
}

.preview__phase {
  #portrait {
    padding-bottom: 75%;
  }
}
